@font-face {
    font-family: face;
    src: url(Winlove.ttf);
}
@font-face {
    font-family: hind;
    src: url(HindSiliguri-Regular.ttf);
}

:root {
    --orange: rgb(196, 103, 35);
    --lightblue: rgb(80, 111, 130);
    --blueBG: rgb(161, 198, 224);
    --custom-font: 'face';
    --text-font: 'hind';
}

.light-blue {
    background-color: var(--blueBG);
}

.tinted {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* --------------------------- General Styles ---------------------------- */

h1 {
    font-family: var(--custom-font);
    color: var(--orange);
}

h2 {
    margin-top: 80px;
    color: var(--orange);
    font-family: var(--text-font);
    font-weight: 300;
}

p {
    color: var(--lightblue);
    font-family: var(--text-font);
}

button {
    font-family: var(--text-font);
    padding: 2px 30px;
    margin: 0px 20px;
    outline: none;
    border: 2px solid var(--orange);
    cursor: pointer;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button:first-of-type {
    margin: 0 20px 0 0;
}

button.button_solid {
    background-color: var(--orange);
    color: white;
}

button.button_outline {
    color: var(--orange);
    background-color: white;
}

.page_image {
    box-shadow: -20px 20px 0 var(--orange);
}

/* --------------------------- Header --------------------------- */

header {
    background-image: url(images/Header_Image.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.header_under {
    margin-bottom: 50px;
}

#header_logo {
    max-width: 20rem;
}

#header_portrait {
    width: 300px;
    height: 450px;
    margin-top: -25px;
    box-shadow: -20px 20px 0 var(--orange);
}

.social_icons {
    position: absolute;
    right: 10%;
    top: 5%;
}

.footer_social_icons {
    position: absolute;
    right: 3%;
    margin-top: 20px;
}

.social_icon {
    margin: 0 10px;
}

.social_icon:hover {
    fill: var(--orange);
}

footer .social_icon {
    margin: 0 10px;
}

footer .social_icon:hover {
    fill: white;
}

/* --------------------------- Quote Area --------------------------- */

.quote {
    padding-top: 100px;
    padding-bottom: 80px;
}

.quotations {
    width: 120px;
}

.first_quotation {
    margin-top: -100px;
}

.second_quotation {
    margin-top: 80px;
    transform: rotate(180deg);
}

#quote_p {
    margin-top: -70px;
    margin-left: 200px;
    color: var(--orange);
    font-family: var(--text-font);
    font-weight: 300;
    float: right;
}

/* --------------------------- Heading Two --------------------------- */

.heading_two {
    padding: 0 0 100px;
}

.heading_two h2 {
    margin-top: 200px;
    width: 80%;
}

.heading_two p {
    width: 80%;
}

/* --------------------------- CTA --------------------------- */

.CTA {
    background-color: var(--orange);
}

.CTA h2 {
    margin-top: 50px;
    color: white;
    text-align: center;
}

.CTA p {
    text-align: center;
    color: white;
}

.CTA button {
    margin: 0;
    margin-bottom: 50px;
}

/* --------------------------- Heading Four --------------------------- */

.heading_four {
    margin: 50px auto;
}

.heading_four .page_image {
    width: 300px;
    height: 450px;
}

ol, ul, li {
    color: var(--lightblue);
}

/* --------------------------- Blocks --------------------------- */

.blocks {
    background-image: url(images/Image_3.webp);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 110%;
    height: auto;
    margin: 50px auto;
    padding: 25px 0;
}

.block {
    background-color: var(--blueBG);
    margin: 50px 20px 0;
    width: 300px;
    height: auto;
}

.block h2 {
    margin: 40px 0;
    font-family: var(--custom-font);
    color: white;
    text-align: center;
}

.block p {
    font-family: var(--text-font);
    color: white;
    text-align: center;
}

/* --------------------------- CTA 2 --------------------------- */

.CTA_two {
    background-color: var(--orange);
    padding: 50px 0;
}

.CTA_two h2 {
    margin-top: 0;
    color: white;
}

.CTA_two p {
    color: white;
}

.CTA_two button:nth-of-type(1) {
    margin-top: 25px;
}

.CTA_two button {
    margin: 0;
    margin-bottom: 50px;
}

.CTA_two .button_solid {
    border: 2px solid white;
}

/* --------------------------- Heading Six --------------------------- */

.heading_six {
    padding: 100px auto;
    background-image: url(images/Image_4.webp);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 50px;
    background-size: 300px;
}

.heading_six img {
    margin-top: 200px;
    box-shadow: 20px 20px 0 var(--orange);
    margin-bottom: 100px;
    width: 300px!important;
    height: 450px;
}

.heading_six .page_image {
    width: 80%;
}

/* --------------------------- Heading Seven --------------------------- */

.heading_seven h2 {
    margin-top: 50px!important;
    text-align: center!important;
    margin-left: 0!important;
    color: white;
}

.heading_seven p {
    color: white;
    text-align: left!important;
    width: 60%!important;
    margin: 0 auto 20px!important;
}

.heading_seven button#button_outline {
    margin: 0 0 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

/* --------------------------- Header Eight --------------------------- */

.heading_eight {
    background-image: url(images/Image_6.webp);
    background-repeat: no-repeat;
    background-position: 80%;
    background-position-y: 50px;
    background-size: 300px;
    height: auto;
    margin-bottom: 350px;
}

.heading_eight h2 {
    margin-top: 200px;
}

/* --------------------------- Heading Nine --------------------------- */

.heading_nine {
    background-image: url(images/Image_Above_Footer.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading_nine img {
    margin-top: -300px;
    box-shadow: 20px 20px 0 var(--orange);
    width: 300px!important;
    height: 450px!important;
}

.heading_nine h2 {
    padding-top: 0;
    margin-top: 0;
    color: white;
}

.heading_nine p {
    color: white;
}

.heading_nine li {
    color: white;
}

.heading_nine .black {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* --------------------------- Footer --------------------------- */

footer {
    padding: 2%;
}

footer img {
    width: calc(10rem + 10vw);
    margin-bottom: -100px;
}

footer a, footer p {
    color: white;
    font-size: 90%;
}

footer p {
    text-align: left!important;
}

footer button {
    background-color: transparent;
    color: white;
    font-weight: 600;
    margin-top: 100px!important;
    margin-bottom: 10px!important;
}

.big_quote_one {
    background-image: url(images/Quotation_Mark_1.webp);
    background-repeat: no-repeat;
    background-position-x: -400px;
    background-position-y: 30%;
}

.big_quote_two {
    background-image: url(images/Quotation_Mark_2.webp);
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y: 50%;
}

#back-to-top {
    font-weight: 300;
    padding: 0;
}

/*---------------------------------------------------------------*/

/* Media Queries */

@media (max-width: 992px) {
    #header_portrait {
        margin-top: -250px;
    }
    .heading_eight {
        background-position-y: 140px;
    }
    .heading_nine img {
        margin-top: -200px;
    }
    .heading_nine button {
        margin: 0 0 50px!important;
    }
    footer p {
        text-align: center!important;
    }
    footer p:nth-of-type(1) {
        margin-bottom: 0;
    }
}

@media (max-width: 770px) {
    .first_quotation, .second_quotation {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    .social_icons {
        right: 4%;
        top: 2%;
    }
    .quote {
        padding-top: 50px;
    }
    #quote_p {
        margin-top: 0;
        margin-left: 150px;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .heading_two h2 {
        margin-top: 0;
        width: 90%;
        padding: 0 20px;
    }
    .heading_two p {
        width: 90%;
        padding: 0 20px;
    }
    .heading_four h2 {
        margin-top: 75px;
    }
    .blocks {
        height: auto;
    }
    .block:nth-of-type(3) {
        margin-bottom: 50px;
    }
    .heading_six h2 {
        margin-top: 0px;
    }
    .heading_six {
        margin-bottom: 100px;
    }
    .heading_eight {
        margin-bottom: 200px;
    }
    .heading_eight {
        background-position-y: 200px;
    }
    footer img {
        margin-bottom: -50px;
    }
    footer button {
        margin-top: 25px!important;
        margin-bottom: 25px!important;
    }
    .pad5 {
        padding: 0 5%;
    }
}