@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: face;
    src: url(Winlove.ttf);
}

:root {
    --orange: rgb(196, 103, 35);
    --lightblue: rgb(88, 153, 197);
}

.light-blue {
    background-color: var(--lightblue);
}

.tinted {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* General Styles */

h1 {
    font-family: 'face';
    color: var(--orange);
}

h2 {
    margin-top: 80px;
    color: var(--orange);
    font-family: 'Hind Siliguri';
    font-weight: 300;
}

p {
    color: var(--lightblue);
} 

button {
    font-family: 'Hind Siliguri';
    padding: 2px 30px;
    margin: 0px 20px;
    outline: none;
    border: 2px solid var(--orange);
}

button:focus {
    outline: none;
}

button:first-of-type {
    margin: 0 20px 0 0;
}

button.button_solid {
    background-color: var(--orange);
    color: white;
}

button.button_outline {
    color: var(--orange);
    background-color: white;
}

.page_image {
    box-shadow: -20px 30px 0 var(--orange);
}

/* Header */

header {
    background-image: url(/images/new_mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.header_under {
    margin-bottom: 50px;
}

#header_logo {
    max-width: 20rem;
}

#header_portrait {
    width: 30rem;
    margin-top: -200px;
    box-shadow: -20px 30px 0 var(--orange);
}

/* Quote Area */

.quote {
    padding-top: 100px;
    padding-bottom: 80px;
}

.quotations {
    width: 100px;
}

.first_quotation {
    margin-top: -100px;
}

.second_quotation {
    margin-top: 80px;
    transform: rotate(180deg);
}

#quote_p {
    margin-top: -70px;
    margin-left: 200px;
    color: var(--orange);
    font-family: 'Hind Siliguri';
    font-weight: 300;
    float: right;
}

/* Heading Two */

.heading_two {
    padding: 0 0 100px;
}

.heading_two h2{
    margin-top: 200px;
}

/* CTA */

.CTA {
    background-color: var(--orange);
}

.CTA h2 {
    margin-top: 50px;
    color: white;
    text-align: center;
}

.CTA p {
    text-align: center;
    color: white;
}

.CTA button {
    margin: 0;
    margin-bottom: 50px;
}

/* Heading Four */

.heading_four {
    margin: 50px auto;
}

.heading_four h2 {
    margin-top: 300px;
}

/* Blocks */

.blocks {
    background-image: url(/images/stock_bird.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 500px;
    margin: 50px auto;
}

.block {
    background-color: lightblue;
    margin: 50px 20px 0;
    width: 300px;
    height: auto;
}

.block h2 {
    margin: 40px 0;
    font-family: 'face';
    color: white;
    text-align: center;
}

.block p {
    font-family: 'Hind Siliguri';
    color: white;
    text-align: center;
}

/* CTA 2 */

.CTA_two {
    background-color: var(--orange);
    padding: 50px 0;
}

.CTA_two h2 {
    margin-top: 0;
    color: white;
}

.CTA_two p {
    color: white;
}

.CTA_two button:nth-of-type(1) {
    margin-top: 25px;
}

.CTA_two button {
    margin: 0;
    margin-bottom: 50px;
}

.CTA_two .button_solid {
    border: 2px solid white;
}

/* Heading Six */

.heading_six {
    padding: 100px auto;
    background-image: url(/Images/leaves4.jpg);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 50px;
    background-size: calc(10% + 10rem);
}

.heading_six img {
    margin-top: 200px;
    box-shadow: 20px 30px 0 var(--orange);
    margin-bottom: 100px;
}

.heading_six h2 {
    margin-top: 500px;
}

/* Heading Seven */

.heading_seven h2 {
    margin-top: 50px!important;
    text-align: center!important;
    margin-left: 0!important;
    color: white;
}

.heading_seven p {
    color: white;
    text-align: center!important;
    width: 60%!important;
    margin: 0 auto 20px!important;
}

.heading_seven button#button_outline {
    margin: 0 0 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

/* Header Eight */

.heading_eight {
    background-image: url(/images/stock_bird.jpg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: calc(10% + 15vw);
    height: 800px;
    margin-bottom: 250px;
}

.heading_eight h2 {
    margin-top: 200px;
    margin-left: 50px;
}

.heading_eight p {
    margin-left: 50px;
    width: 50%;
}

/* Heading Nine */

.heading_nine {
    background-image: url(/images/ricardo-gomez-angel-D9kOnC_1AHw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.heading_nine img {
    margin-top: -300px;
    box-shadow: 20px 30px 0 var(--orange);
}

.heading_nine h2 {
    margin-top: 100px;
    color: white;
}

.heading_nine p {
    color: white;
}

.heading_nine button {
    margin-top: 20px;
    margin-bottom: 100px;
}

.heading_nine button.button_outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* Footer */

footer img {
    width: calc(10rem + 10vw);
    margin-bottom: -100px;
}

footer a, footer p {
    color: white;
    font-size: 90%;
}

footer button {
    background-color: transparent;
    color: white;
    font-weight: 600;
    margin-top: 100px!important;
    margin-bottom: 10px!important;
}

footer button:hover {
    color: black;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------*/

/* Media Queries */

@media (max-width: 992px) {
    .heading_eight {
        background-position-y: 450px;
    }
    .heading_nine img{
        width: 100%;
        margin-top: -200px;
    }
    .heading_nine button {
        margin: 0 0 50px!important;
    }
}

@media (max-width: 770px) {
    .first_quotation, .second_quotation {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    .quote {
        padding-top: 50px;
    }
    #quote_p {
        margin-top: 0;
        margin-left: 150px;
    }
    #header_portrait {
        width: 20rem;
    }
    .heading_two h2{
        margin-top: 0;
    }
    .heading_four h2 {
        margin-top: 75px;
    }
    .blocks {
        height: auto;
    }
    .block:nth-of-type(3) {
        margin-bottom: 50px;
    }
    .heading_six h2 {
        margin-top: 0px;
    }
    .heading_six {
        margin-bottom: 100px;
    }
    .heading_nine img{
        width: 50%;
    }
    footer img {
        margin-bottom: -50px;
    }
    footer button {
        margin-top: 25px!important;
        margin-bottom: 25px!important;
    }
}